[Unit]
Description=Kitty Drop-Down Terminal Service

[Service]
Type=simple
ExecStart=/usr/bin/env kitty --single-instance --instance-group dropdown --class kitty-dropdown --override hide_window_decorations=yes --hold --config %h/.config/kitty/kitty-dropdown.conf
Restart=no

[Install]
WantedBy=default.target
